body{
  margin: 0;
  padding: 0;
  .content{
    width: 480px;
    margin: 0 auto;
    @media screen and (min-width:1170px){
      width: 1170px; 
    }
  }
  a{text-decoration: none;}
  li{list-style-type: none;}
  h6{display: none;}
  hr{border:none;}
}

@import "normalize/import-now";

@import 'utils/variables';

@import 'base/basic';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'pages/home';