.task{
  padding: 20px 0 30px 0;
  background: #c3bfbf;
  @media screen and (min-width:1170px){
    padding: 40px 0 40px 0;
  }
  &__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__item{
      width: 450px;
      background: #ffffffb9;
      margin-top: 10px; 
      border-radius: 20px;
      text-align: center;
      padding: 5px 5px 5px 5px;
      font-family: "Source Sans Pro - Semibold";
      font-size: 18px;
      font-weight: 600;
      @media screen and (min-width:1170px){
        width: 800px;
        font-size: 22px;
      }
    }
  }
}
