.home{
  background: url(/static/img/bg_home_2.png) center center ;
  background-size: cover;
  height: 640px;
  &__block{
    height: 640px;
    background: rgba(21, 20, 26, 0.8);
    header{
      padding-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .header_logo{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        @media screen and (min-width:1170px){
          padding-left: 115px;
        }
        p{
          opacity: 0.4;
          color: #ffffff;
          font-family: "Source Sans Pro";
          font-size: 9px;
          font-weight: 400;
        }
        span{
          color: #ffffff;
          font-family: Quicksand;
          font-size: 24px;
          font-weight: 700;
          padding-top: 6px;
          padding-left: 5px;
        }
      }
      nav{
        padding-right: 5px; 
        @media screen and (min-width:1170px){
          padding-right: 170px;
         }
        ul{
          display: flex;
          flex-direction: row;
          li{
            margin-right: 15px;
            margin-top: -7px;
            a{
              display: inline-block;
              color:#ffeb3b;
              color: #ffffff;
              line-height: 1;
              text-decoration:none;
              color: #fffefe;
              font-family: "Source Sans Pro - Semibold";
              font-size: 20px;
              font-weight: 400;
              cursor: pointer;
                &:after{
                  background-color: #ffeb3b;
                  display: block;
                  content: "";
                  height: 2px;
                  width: 0%;
                  -webkit-transition: width .3s ease-in-out;
                  -moz--transition: width .3s ease-in-out;
                  transition: width .3s ease-in-out;
                }
                &:hover:after,
                &:focus:after{
                  width: 100%;
                }
            }
          }
        }
      }
    }
    &__data{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 40px;
      padding-right: 150px;
      &__introducing{
        padding-left: 115px;
        width: 478px;
        h3{
          color: #ffeb3b;
          font-family: "Source Sans Pro";
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase;
        }
        h2{
          color: #ffffff;
          font-family: "Source Sans Pro - Semibold";
          font-size: 48px;
          font-weight: 600;
          margin: 35px 0 0px 0;
        } 
        p{
          color: #ffeb3b;
          font-size: 18px;
          font-family: "Source Sans Pro";
          font-weight: 700;
          letter-spacing: 1.4px;
          margin-bottom: 75px;
          line-height: 25px;
        }
      } 
      .form{
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background: rgba(100%, 100%, 100%, 0.4);
        border-radius: 10px;
        p{
          color: #fbe200;
          font-family: "Source Sans Pro - Semibold";
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        form{
          display: flex;
          flex-direction: column;
          input{
            padding-left: 10px;
            margin-top: 20px;
            height: 45px;
            border-radius: 20px;
            border: 2px solid rgb(133, 131, 131);
            margin-bottom: -10px;
          }
          button{
            width: 50%;
            border-radius: 20px;
            margin: 0 auto;
            margin-top: 30px;
            border: 2px solid gray;
            padding: 10px 20px;
            span{
              font-family: "Source Sans Pro";
            }
            &:hover{
              border: 2px solid #ffeb3b;
              background: rgba(100%, 92%, 23%, 0.5);;
              transition-duration: 1s;
              color: #ffffff;
            }
          }
        }
      }  
    }
  }
}

.block_1-btn{
  padding: 10px 20px;
  border: 2px solid #ffeb3b;
  font-family: "Source Sans Pro";
  border-radius: 20px;
  color: #ffffff;
  margin-left: 50px;
  margin-top: 15px;
  @media screen and (min-width: 1100px){
    margin-left: 25px;
  }
  &:hover{
    background: rgba(100%, 92%, 23%, 0.5);;
    transition-duration: 1s;
  }
}